<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cheung.android.demo.baseuiframe">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".components.activity.RoundButtonActivity" />
        <activity android:name=".components.activity.QMUIDialogActivity" />
        <activity android:name=".components.activity.QMUIFloatLayoutActivity" />
        <activity android:name=".components.activity.QMUIEmptyViewActivity" />
        <activity android:name=".components.activity.QMUIProgressBarActivity" />
        <activity android:name=".components.activity.QMUIBottomSheetActivity" />
        <activity android:name=".components.activity.QMUIGroupListViewActivity" />
        <activity android:name=".components.activity.QMUITipDialogActivity"></activity>
    </application>

</manifest>